<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_icon"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.EcoFoodTrackerApp"
        tools:targetApi="31">
        <activity
            android:name=".ui.activities.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.HelpAndSupportActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.FeedBackActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.UpdateProfileActivity"
            android:exported="false" />
        <activity
            android:name=".donor.ui.activities.DonorTrackOrderActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.TermsAndConditionsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.AboutActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.TrackOrderActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.FoodHomeDeliveryActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.FoodPickUpActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.DeliveryOptionsActivity"
            android:exported="false" />
        <activity
            android:name=".donor.ui.activities.RemoveAndModifyFoodActivity"
            android:exported="false" />
        <activity
            android:name=".donor.ui.activities.DonorStartActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SelectTypeStartActivity"
            android:exported="false" />
        <activity
            android:name=".donor.ui.activities.DonorMainChatActivity"
            android:exported="false" />
        <activity
            android:name=".donor.ui.activities.AddFoodActivity"
            android:exported="false" />
        <activity
            android:name=".donor.ui.activities.DonorMainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.FoodDescActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.HistoryActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.MainChatActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.StartActivity"
            android:exported="true"
            android:theme="@style/Theme.EcoFoodTrackerApp" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD_ils9uxDQv3n0WXRKdalDejq7uGukdwA" />

        <activity
            android:name=".ui.activities.MapsActivity"
            android:exported="false"
            android:label="@string/title_activity_maps" />
        <activity
            android:name=".ui.activities.MainActivity"
            android:exported="true">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity> <!-- set up the firebase messaging service -->
        <service
            android:name=".util.MyMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/notification_icon" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/app_toolbar" />
    </application>

</manifest>